<%= render "shared/action_feedback" %>

<div class="login-wrapper">
  <h1>Sign In</h1>

  <%= form_tag login_path, :class => 'login-form' do %>

    <%= label_tag 'Email' %>
    <%= email_field_tag :email, nil, :autofocus => true %>

    <%= label_tag 'Password' %>
    <%= password_field_tag :password %>

    <%= submit_tag "Sign In" %>

  <% end %>
</div>
