<%= form_for project, :html => {:id => 'project-form'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true, :autofocus => true, :id => 'project-name' %>

  <%= f.label :desc, 'Description' %>
  <%= f.text_area :desc, :required => true, :id => 'project-desc'%>

  <%= f.label :sprint %>
  <%= f.select :sprint, options_for_select([['1 Week', (Date.today + 1.week)], ['2 Weeks', Date.today + 2.weeks], ['3 Weeks', Date.today + 3.weeks], ['4 Weeks', Date.today + 4.weeks]], project.sprint), {:id => 'project-sprint'} %>

  <div>
    <%= f.button 'Save' %>
    <%= button_tag 'Cancel', :type => 'button', :id => 'dialog-cancel-btn' %>  
  </div>

<% end %>
