<!DOCTYPE html>
<html>
<head>
  <title>AvantisApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

  <body>

  <header>
    <div class="header-wrapper">
      <div class="logo">
        <%= link_to image_tag('logo-white.png') , root_path %>
      </div>
      <nav>
        <%= link_to "Home", root_path, :class => 'menu-item' %>
        <% if @current_user.present? %>
          <%= link_to @current_user.name, edit_user_path(@current_user), :class => 'menu-item'  %>
          <%= link_to "Dashboard", dashboard_path, :class => 'menu-item'  %>
          <%= link_to "Logout", login_path, :method => 'delete', :class => 'menu-item'%>
        <% else %>
          <%= link_to "Sign Up", new_user_path, :class => 'menu-item' %>
          <%= link_to "Sign In", login_path, :class => 'menu-item' %>
        <% end %>
      </nav>
      <div id="toggle">
        <div class="span" id="one"></div>
        <div class="span" id="two"></div>
        <div class="span" id="three"></div>
      </div>
      <div id="resize">
        <nav>
          <%= link_to "Home", root_path, :class => 'menu-item' %>
          <% if @current_user.present? %>
            <%= link_to @current_user.name, edit_user_path(@current_user), :class => 'menu-item'  %>
            <%= link_to "Dashboard", dashboard_path, :class => 'menu-item'  %>
            <%= link_to "Logout", login_path, :method => 'delete', :class => 'menu-item'%>
          <% else %>
            <%= link_to "Sign Up", new_user_path, :class => 'menu-item' %>
            <%= link_to "Sign In", login_path, :class => 'menu-item' %>
          <% end %>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <%= yield %>
  </main>


  <footer>
    <div class="footer-wrapper">
      <p>some text</p>
      <p>dlsjfsjkdfbjds</p>
    </div>
  </footer>

</body>

</html>
