<!DOCTYPE html>
<html>
<head>
  <title>AvantisApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav>
    <%= link_to "Home", root_path  %>
    <% if @current_user.present? %>
      <%= link_to @current_user.name, edit_user_path(@current_user)  %>
      <%= link_to "Dashboard", dashboard_path  %>
      <%= link_to "Logout", login_path, :method => 'delete'%>
    <% else %>
      <%= link_to "Sign Up", new_user_path  %>
      <%= link_to "Sign In", login_path  %>
    <% end %>
  </nav>


  <%= yield %>
</div>


</body>
</html>
